# marks3

In [2]:
marks = [90, 25, 67,45, 80]

In [4]:
for number in range(len(marks)):
    if marks[number]< 60:
        continue
    print("%d번 학생 축하핳ㅂ니다. 합격입니다."%(number+1))

1번 학생 축하핳ㅂ니다. 합격입니다.
3번 학생 축하핳ㅂ니다. 합격입니다.
5번 학생 축하핳ㅂ니다. 합격입니다.

In [6]:
add = 0
for i in range(1,11):
    add= add + i

print(add)

55

In [11]:
for i in range(0,6):
    a = '*'
    print(a*i)

*
**
***
****
*****

In [10]:
for i in range(5,0,-1):
    a = '*'
    print(a*i)

*****
****
***
**
*

In [12]:
for i in range(5,0,-1):
    a = '*'*5
    print(a)

*****
*****
*****
*****
*****

In [25]:
a  = [[] for _ in range(5)]

In [24]:
for i in range(0,len(a)):
    for j in range(0, len(a)):
        a[i][j] = '*'
        print(a)

In [28]:
for count in range(0,5): 
    a = "*" * 5
    print(a)

*****
*****
*****
*****
*****

In [29]:
for count in range(0,5):
    a = " "*(count-1)
    b = "*"*count
    print(b,a)

*
**
***
****

In [30]:

for i in range(1,6):
    a = '*' * i
    b = ' ' * (5-i)
    print(b,a)

     *
    **
   ***
  ****
 *****

In [31]:
space = 3
for i in range(1,8):
    if i % 2 != 0:
        a = '*' * i
        b = " " * space
        space -= 1
        print(b, a)

    *
   ***
  *****
 *******

In [26]:
def add(a,b):
    return a+b

In [27]:
add(3,5)

8