# Tupple 자료형

- ()로 묶는다.  
- 값을 바꿀 수 없다.

In [6]:
t1 = ()

In [7]:
t2 = (1,)

In [8]:
t3 = (1,2,3)

In [9]:
t4 = 1,2,3

In [10]:
t5 = ('a','b',('ab','cd'))

In [11]:
t1 = (1,2,'a','b')

In [12]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [13]:
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

읽기만 가능하다.  
삭제 불가능

In [14]:
t1[0]

1

In [15]:
t1[3]

'b'

In [16]:
t1[1:]

(2, 'a', 'b')

In [17]:
t1 + t2

(1, 2, 'a', 'b', 1)

In [18]:
t2*3

(1, 1, 1)

괄호를 생략하면 tuple로 선언한 것

In [19]:
t1 = 1,2,'a','b'

In [20]:
t1[0]

1